/* .mantine-15unqt {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom:50px;
} */
.mantine-1tu0qw9 {
  /* margin-left: 0px;
  margin-right: 0px; */
  margin:auto;
}